html,
body {
	height: 100%;
}
body {
	color: $primary;
	background: $bodyBackground;
	padding: 0;
	@media ($medScreen) {
		padding: 0;
	}
}

a {
	color: $linkColor;
}
.text-info {
	color: $infoText;
}

// Typography Overrides
// =====================================================
h1,
h2,
h3,
h4,
h5 {
	color: $grayDark;
	font-family: $baseFontFamily;
}
h3,
h4 {
	font-weight: normal;
	text-shadow: unset;
}
h1 {
	font-weight: 700;
}
h2 {
	font-weight: 600;
}
h3 {
	font-size: calc(1.325rem + 0.9vw);
	font-weight: 500;
	@media ($xLargeScreen) {
		font-size: 1.75rem;
	}
}
h4 {
	font-size: calc(1.275rem + 0.3vw);
	@media ($xLargeScreen) {
		font-size: 1.5rem;
	}
}
h5 {
	font-size: 1.5rem;
	font-weight: 500;
}
h6,
p {
	font-size: 1rem;
	font-weight: 400;
	color: var(--body);
}

p,
input,
button,
span,
a,
table,
table *,
div,
address,
li,
ul {
	// not declaring this causes issues with sidecart
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

fieldset {
	margin: unset;
}
fieldset > legend {
	padding-top: 1.5rem;
	padding-right: 1rem;
	padding-left: 1rem;
	background-color: $legendBackground;
}
legend {
	color: $darkerPrimary;
	font-weight: thin;
	border-bottom: none;
	margin-bottom: 20px;
	font-size: em(28);
}

// Remove the damn unusable arrows on number inputs
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='number'] {
	-moz-appearance: textfield;
}

li {
	margin: 0;
}
